<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <title>@ViewData["Title"] - EditProject</title>
</head>
<body>
    <section>
        <h1>Edit Project</h1>
        <form id="editproject" onsubmit="event.preventDefault(); Submit();">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" />

            <label for="description">Description</label>
            <input type="text" id="description" name="description" />

            <label for="skill">Skill</label>
            <input type="text" id="skill" name="skill" list="skills" autocomplete="off" onkeydown="SearchSkill();"/>
            <datalist id="skills">
            </datalist>

            <div class="submit"><button type="submit">Edit</button></div>
        </form>
    </section>
    <footer>
        <a asp-controller="Profile" asp-action="Index">Go To Profile</a>
        <a asp-controller="Profile" asp-action="Editprofile">Go To Edit Profile</a>
    </footer>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/alertError.js" asp-append-version="true"></script>
    <script src="~/js/editProject.js" asp-append-version="true"></script>
</body>
</html>

