@{
    ViewData["Title"] = "Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Profile</title>
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar">
        <div class="navbar-title">Hackateam</div>
        <div class="navbar-links">
            <a asp-controller="Explore" asp-action="Index">Explore</a>
            <a asp-controller="Teams" asp-action="Index">Team</a>
            <a asp-controller="Notifications" asp-action="Index">Notification</a>
            <a onclick="Logout()" class="logout">Logout</a>
        </div>
        <img src="~/pictures/dropdown-menu-icon.svg" alt="dropdown-menu" class="dropdown-menu"/>
    </nav>

    <div class="profile-content">
        <h1>My Profile</h1>
        <div class="profile-container">
            <img 
                src="~/pictures/icon/user-01.svg" 
                class="avatar-icon"
                alt="Avatar" id="avatar" 
            />
            <div class="profile-details">
                <div class="profile-group">
                    <label for="fullname-display">Full Name</label>
                    <div class="input-group">
                        <select id="header-select" class="hidden">
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                        <input type="text" name="fullname" id="fullname" >
                    </div>
                </div>
                <div class="profile-group">
                    <label for="tel-display">Phone</label>
                    <input type="text" name="tel" id="tel" >
                </div>
                <div class="profile-group">
                    <label for="email-display">Email</label>
                    <input type="text" name="email" id="email" >
                </div>
            </div>
            <div class="profile-btn">
                <button id="edit-btn">Edit</button>
                <button id="save-btn" class="hidden">Save</button>
                <button id="cancel-btn" class="hidden">Cancel</button>
            </div>
        </div>

        <div id="projects">
            <div id="showproject">
                <h2>Projects </h2>
                <button id="add" onclick="PageCreateProject()">+</button>
                <button id="loadMore" onclick="SeeMore()">Show All</button>
            </div>
        </div>

        <div id="projects-list">
            @* Display projects-list *@
        </div>
    </div>

    @* Footer Component *@
    <footer>
        <div class="footer-content-01">
            <p>© 2025 Hackateam</p>
            <div class="footer-link">
                <img src="~/pictures/github-icon.svg" alt="github-icon" />
                <a href="#">Hackateam repository</a>
            </div>
            <div class="footer-link">
                <img src="~/pictures/instagram-icon.svg" alt="instagram-icon" />
                <a href="#">SAIG Instagram</a>
            </div>
        </div>
        <div class="footer-content-02">
            <p>KMITL Computer Engineering</p>
            <div class="footer-logo">
                <img src="~/pictures/KMITL-logo.svg" alt="KMITL-logo">
                <img src="~/pictures/CE-logo.svg" alt="KMITL-logo">
            </div>
        </div>
    </footer>

    <script src="~/js/navbar.js"></script>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
    <script src="~/js/alert.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
</body>
</html>