@{
    ViewData["Title"] = "Profile";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Profile</title>
</head>
<body>
    <header>
        <h1>My Profile</h1>
    </header>

    <main>
        <section id="profile">
            <img src="https://e7.pngegg.com/pngimages/84/165/png-clipart-united-states-avatar-organization-information-user-avatar-service-computer-wallpaper-thumbnail.png" alt="Avatar of Mr. John Doe" id="avatar" />
            <div id="profile-details">
<<<<<<< HEAD
                <p id="fullname"><strong>Fullname:</strong>Mr. John Doe</p>
                <p id="education"><strong>Education:</strong> Bachelor's Degree in Computer Engineering</p>
                <p id="tel"><strong>Tel:</strong> +123 456 7890</p>
                <p id="email"><strong>Email:</strong> johndoe@example.com</p>
=======
                <p id="fullname"><strong>Fullname:</strong></p>
                <p id="tel"><strong>Tel:</strong></p>
                <p id="email"><strong>Email:</strong></p>
>>>>>>> 6246981195f186bb684bdef14d697add7944febd
            </div>
            <button id="edit" onclick="PageUpdateProfile()">Edit</button>
        </section>

        <div id="projects">
            <div id="showproject">
                <h2>Projects </h2>
                <button id="add" onclick="PageCreateProject()">+</button>
                <button id="loadMore" onclick="SeeMore()">Show All</button>
            </div>
        </div>
        <div id="projects-list">

        </div>
    </main>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
    <script src="~/js/alertError.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
</body>
</html>