@{
    ViewData["Title"] = "TeamInfo";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TeamInfo</title>
    <link rel="stylesheet" href="~/css/teamInfo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    <div id="teamId" data-id="@ViewBag.Id"></div>
    
    <nav class="navbar">
        <div class="navbar-title">Hackateam</div>
        <div class="navbar-links">
            <a asp-controller="Explore" asp-action="Index">Explore</a>
            <a asp-controller="Teams" asp-action="Index">Team</a>
            <a asp-controller="Notifications" asp-action="Index">Notification</a>
            <a asp-controller="Profile" asp-action="Index">Profile</a>
        </div>
        <img src="~/pictures/dropdown-menu-icon.svg" alt="dropdown-menu" class="dropdown-menu"/>
    </nav>

    <main id="card">
        <h2 id="name"></h2>
        <img alt="banner" width="300px" height="200px"  id="teamimage">
        <h4 id="hackathonteam"></h4>
        <p>Description:</p>
        <p id="description"></p>
        <p id="requirement">Requirement: </p>
        <p id="owner">Created by: </p>
        <p id="teamsize">Teamsize: </p>
        <p id="expireddate">Expired Date: </p>
        <section id="join">
            <form onsubmit="event.preventDefault(); JoinTeam();">
                <h4>State Of Purpose</h4>
                <textarea id="sop" name="sop" rows="8" required></textarea>

                <h4>Select a Skill:</h4>

                <div id="skills"></div>

                <button type="submit">Join Team</button>
            </form>
        </section>
    </main>

    @* Footer Component *@
    <footer>
        <div class="footer-content-01">
            <p>© 2025 Hackateam</p>
            <div class="footer-link">
                <img src="~/pictures/github-icon.svg" alt="github-icon" />
                <a href="#">Hackateam repository</a>
            </div>
            <div class="footer-link">
                <img src="~/pictures/instagram-icon.svg" alt="instagram-icon" />
                <a href="#">SAIG Instagram</a>
            </div>
        </div>
        <div class="footer-content-02">
            <p>KMITL Computer Engineering</p>
            <div class="footer-logo">
                <img src="~/pictures/KMITL-logo.svg" alt="KMITL-logo">
                <img src="~/pictures/CE-logo.svg" alt="KMITL-logo">
            </div>
        </div>
    </footer>

    <script src="~/js/navbar.js"></script>
    <script src="~/js/alert.js" asp-append-version="true"></script>
    <script src="~/js/teamInfo.js" asp-append-version="true"></script>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
</body>
</html>