@{
    ViewData["Title"] = "TeamInfo";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TeamInfo</title>
    <link rel="stylesheet" href="~/css/teamInfo.css" asp-append-version="true" />
</head>
<body>
    <div id="teamId" data-id="@ViewBag.Id"></div>
    <main id="card">
        <h2 id="name"></h2>
        <img alt="banner" width="300px" height="200px"  id="teamimage">
        <h4 id="hackathonteam"></h4>
        <p>Description:</p>
        <p id="description"></p>
        <p id="requirement">Requirement: </p>
        <p id="owner">Created by: </p>
        <p id="teamsize">Teamsize: </p>
        <p id="expireddate">Expired Date: </p>
        <section>
            <form onsubmit="JoinTeam();">
                <h4>State Of Purpose</h4>
                <textarea id="sop" name="sop" rows="8" required></textarea>

                <h4>Select a Skill:</h4>

                <div id="skills"></div>

                <button type="submit">Join Team</button>
            </form>
        </section>
    </main>
    <script src="~/js/alertError.js" asp-append-version="true"></script>
    <script src="~/js/teamInfo.js" asp-append-version="true"></script>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
</body>
</html>