<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Intro</title>
    <link rel="stylesheet" href="~/css/intro.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/effect-grid-background.css" asp-append-version="true" />
</head>
<body>
    @* Wave Grid Background *@
    <div class="grid-container" id="grid-container"></div>

    @* navbar for only intro-page *@
    <nav class="intro-navbar">
        <div class="navbar-title">Hackateam</div>
        <button class="intro-button">
            <a href="/Auth/Login">Login</a>
        </button>
    </nav>
    
    @* Content Page *@
    <div class="intro-container">
        <div class="invitation-content">
            <p>hackateam.net</p>
            <h1>
                Find Your Teammates and<br>
                Conquer the Hackathon
            </h1>
            <button class="intro-button">
                <a href="/Auth/Register">Join US</a>
            </button>
            <img src="~/pictures/down-arrow.svg" alt="down-arrow" class="down-arrow"/>
        </div>
        <div class="reward-content">
            <p>what you get access to when you join hackateam</p>
            <div class="reward-list">
                <div class="reward-item">
                    <img src="~/pictures/reward-items/startup-icon.svg" alt="startup-icon"/>
                    <h4>Be Part of Meaningful Startups</h4>
                    <p>
                        Build or join teams, transform ideas into
                        reality, and achieve success with like-minded
                        action-takers!
                    </p>
                </div>
                <div class="reward-item">
                    <img src="~/pictures/reward-items/monthly-icon.svg" alt="monthly-icon"/>
                    <h4>Monthly Hackathons</h4>
                    <p>
                        Compete against other teams, secure top
                        spots on the leaderboard, and win prizes
                        together!
                    </p>
                </div>
                <div class="reward-item">
                    <img src="~/pictures/reward-items/spotlight-icon.svg" alt="spotlight-icon"/>
                    <h4>STARTUP SPOTLIGHT</h4>
                    <p>
                        Top teams each quarter get a chance to pitch
                        to investors and receive valuable feedback!
                    </p>
                </div>
                <div class="reward-item">
                    <img src="~/pictures/reward-items/spirit-speed-icon.svg" alt="spirit-speed-icon"/>
                    <h4>Get Help Throughout the Project</h4>
                    <p>
                        Coaches assist your team with getting
                        started, completing the project, and bringing
                        your startup to market!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/effect-grid-background.js" asp-append-version="true"></script>
</body>
</html>