<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/authen.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Login</title>
</head>
<body>
    <section>
    <h1>Login</h1>
    <form id="login">
        <label for="fullname">Username or Email</label>
        <input type="text" id="fullname" name="fullname" required />

        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />

        <div class="submit"><button type="submit">sign in</button></div>
    </form>
    </section>
    <footer>
        Don't have an account ?
        <a asp-controller="Home" asp-action="Register">Register</a>
    </footer>
</body>
</html>

