<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/notification.css" asp-append-version="true" />
    <title>@ViewData["Title"] - Notification</title>
</head>
<body>
    <header>Notification</header>
    <main>
        <section id="messages">
        </section>
    </main>
    <script src="~/js/cookie.js" asp-append-version="true"></script>
    <script src="~/js/alertError.js" asp-append-version="true"></script>
    <script src="~/js/notification.js" asp-append-version="true"></script>
    <script src="~/js/authentication.js" asp-append-version="true"></script>
</body>
</html>

