<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Team</title>
    @* Page Style *@
    <link rel="stylesheet" href="~/css/team.css" asp-append-version="true" />
    @* Components Style *@
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
</head>
<body>
    @* Navbar Component *@
    <nav class="navbar">
        <div>Hackateam</div>
        <div class="navbar-links">
            <a asp-controller="Home" asp-action="Intro">Home</a>
            <a asp-controller="Home" asp-action="Explore">Explore</a>
            <a asp-controller="Home" asp-action="Team">Team</a>
            <a asp-controller="Home" asp-action="Notification">Notification</a>
            <a asp-controller="Home" asp-action="Profile">Profile</a>
        </div>
        <img src="~/pictures/dropdown-menu-icon.svg" alt="dropdown-menu" class="dropdown-menu"/>
    </nav>

    @* Content Page *@
    <div class="team-content">
        <div class="team-details">
            <h2 class="team-name" id="team-name"></h2>
            <div class="team-info">
                <div class="team-description" id="team-description"></div>
                <div class="team-lead" id="team-lead"></div>
                <div class="team-hackathon" id="team-hackathon"></div>
            </div>
        </div>
    </div>

    @* Footer Component *@
    <footer>
        <div class="footer-content-01">
            <p>© 2025 Hackateam</p>
            <div class="footer-link">
                <img src="~/pictures/github-icon.svg" alt="github-icon" />
                <a href="#">Hackateam repository</a>
            </div>
            <div class="footer-link">
                <img src="~/pictures/instagram-icon.svg" alt="instagram-icon" />
                <a href="#">SAIG Instagram</a>
            </div>
        </div>
        <div class="footer-content-02">
            <p>KMITL Computer Engineering</p>
            <div class="footer-logo">
                <img src="~/pictures/KMITL-logo.svg" alt="KMITL-logo">
                <img src="~/pictures/CE-logo.svg" alt="KMITL-logo">
            </div>
        </div>
    </footer>

    <script type="module" src="~/js/team.js">
        import { teams } from "../mock/teams.js";

        let teamId = 1;

        function displayTeamDetails(teamId) {
            const selectedTeam = teams.find(team => team.id === teamId);

            if (!selectedTeam) {
                console.error('Team not found');
                return;
            }

            document.querySelectorById('team-name').textContent = selectedTeam.name;
            document.querySelectorById('team-lead').textContent = selectedTeam.lead;
        }

        document.addEventListener('DOMContentLoaded', () => {
            displayTeamDetails(teamId);
        });
    </script>
</body>
</html>