/* Default for all pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-size: 20px;
}

/* Default (Large screens, ≥ 1200px) */
body {
    height: fit-content;
    min-height: 100vh;
    background-color: #444F5A;
    font-size: 24px;
    color: #EEEEEE;
}

/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
    body {
        font-size: 20px;
    }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
    body {
        font-size: 18px;
    }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
}