* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-size: 20px;
}

/* Default (Large screens, ≥ 1200px) */
body {
    height: fit-content;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444F5A;
    font-size: 24px;
    color: #EEEEEE;
}

.explore-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    margin: 64px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 50%;
    height: fit-content;
    padding: 6px;
    border-radius: 16px;
    background-color: #EEEEEE;
    box-shadow: 0 0 4px 4px #EEEEEE40;
}

.search-space {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.search-bar {
    width: 100%;
    padding: 6px;
    padding-right: 32px;
    outline: none;
    border-radius: 10px;
    border: 2px solid #FF6701;
    background-color: #EEEEEE;
    font-size: 0.8rem;
}

.search-cancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.search-cancel:hover {
    opacity: 1;
}

.search-button {
    padding: 6px 16px;
    border: none;
    border-radius: 10px;
    background-color: #FF6701;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #E05900;
}

.team-card-content {
    width: 100%;
    height: fit-content;
    border: 2px solid #FF6701;
    color: #EEEEEE;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5fr);
    gap: 24px;
    width: 100%;
    height: fit-content;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 16px;
    background-color: #FF6701;
    color: #EEEEEE;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
    * {
        font-size: 20px;
    }

    .explore-content {
        margin: 36px;
    }

    .search-form {
        width: 64%;
    }

    .search-cancel {
        width: 20px;
        height: 20px;
    }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
    * {
        font-size: 18px;
    }

    .explore-content {
        margin: 24px;
    }

    .search-form {
        width: 80%;
        gap: 4px;
        padding: 4px;
        border-radius: 12px;
    }

    .search-bar {
        padding: 4px;
        padding-right: 24px;
        border-radius: 8px;
    }

    .search-cancel {
        width: 20px;
        height: 20px;
    }

    .search-button {
        padding: 6px 12px;
        border-radius: 8px;
    }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
    * {
        font-size: 16px;
    }

    .explore-content {
        margin: 20px;
    }

    .search-form {
        width: 90%;
        gap: 4px;
        padding: 4px;
        border-radius: 12px;
    }

    .search-bar {
        padding: 4px;
        padding-right: 24px;
        border-radius: 8px;
    }

    .search-cancel {
        width: 16px;
        height: 16px;
    }

    .search-button {
        padding: 6px 12px;
        border-radius: 8px;
    }
}