/* Default (Large screens, ≥ 1200px) */
.navbar {
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: fit-content;
    background-color: #0A192F;
    font-weight: 600;
}

.navbar-title {
    font-weight: 700;
    color: #00A3FF;
    animation: navbar-title 2s ease-in-out infinite alternate;
}

@-webkit-keyframes navbar-title {
    0% { text-shadow: 0 0 12px #00F5D4; }
    50% { text-shadow: 0 0 12px #0077FF; }
    100% { text-shadow: 0 0 12px #00F5D4; }
}

@keyframes navbar-title {
    0% { text-shadow: 0 0 12px #00F5D4; }
    50% { text-shadow: 0 0 12px #0077FF; }
    100% { text-shadow: 0 0 12px #00F5D4; }
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    font-size: 18px;
    color: #EEEEEE;
    transition: all 0.2s ease;
}

.navbar-links a:hover {
    color: #0077FF;
    text-decoration: underline;
}

.navbar img {
    display: none;
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: all 0.2s ease;
}
  
  
/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
    .navbar-links {
        gap: 16px;
    }

    .navbar-links a {
        font-size: 16px;
    }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
    .navbar-links {
        gap: 12px;
    }

    .navbar-links a {
        font-size: 14px;
    }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
    .navbar-links {
        display: none;
        gap: 0px;
    }
    
    .navbar-links.active {
        position: absolute;
        top: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #393E4680;
    }

    .navbar-links a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: 12px;
    }

    .navbar-links a:hover {
        background-color: #22283180;
    }

    .navbar img {
        display: block;
    }
}