section {
  background-color: #cfcfcf;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}

footer {
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

a {
  margin-left: 1%;
  text-decoration: none;
}

ol {
  display: flex;
  flex-wrap: nowrap;
}

ol li {
  margin-left: 5%;
  background-color: #fea82f;
  list-style-type: none;
  padding: 1%;
  border-radius: 10px;
  width: 20vw;
}
