body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222831;
  color: #eeeeee;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
  display: inline;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

strong {
  font-size: 22px;
}

header {
  text-align: center;
  margin: 1%;
}

#showproject {
  display: grid;
  grid-template-columns: 75% 10% 15%;
}

article {
  background-color: #444f5a;
  margin: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h2 {
  margin-left: 1%;
}

#profile {
  display: grid;
  grid-template-columns: 40% 45% 15%;
  background-color: #444f5a;
}

section {
  width: 80%;
  height: 40%;
  margin: auto;
  padding: 1%;
}

img {
  margin: auto;
  width: 250px;
  height: 250px;
  padding: 5%;
}

#profile-details {
  margin: auto;
}

#profile-details p {
  margin-bottom: 15px;
}

article p {
  margin: 15px;
}

article {
  padding: 1%;
  position: relative;
}

#delete {
  position: absolute;
  right: 10px;
  top: 15%;
  transform: translateY(-50%);
}

button {
  font-weight: bold;
  background-color: #ff6701;
  border-radius: 5px;
  font-size: 1.5vw;
  color: #eeeeee;
  padding: 5px;
  margin-left: 10px;
}

#projects {
  width: 80%;
  height: 50%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}

#edit {
  height: 20%;
  font-size: 1.5vw;
}

@media screen and (max-width: 800px) {
  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }

  strong {
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

  strong {
    font-size: 14px;
  }
}
