* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-size: 20px;
    color: #EEEEEE;
    text-decoration: none;
}

/* Default (Large screens, ≥ 1200px) */
.search-form {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 50%;
    height: fit-content;
    padding: 6px;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 4px #FFFFFF40;
}

.search-space {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.search-bar {
    width: 100%;
    padding: 8px;
    padding-right: 32px;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    font-size: 16px;
    color: #050A12;
}

.search-cancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.search-cancel:hover {
    opacity: 1;
}

.search-button {
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: #00A3FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #0077FF;
}

/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
    * {
        font-size: 20px;
    }

    .search-form {
        width: 64%;
    }

    .search-cancel {
        right: 6px;
        width: 26px;
        height: 26px;
    }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
    * {
        font-size: 18px;
    }

    .search-form {
        width: 80%;
        gap: 4px;
        padding: 4px;
        border-radius: 12px;
    }

    .search-bar {
        padding: 4px;
        padding-right: 30px;
        border-radius: 8px;
        font-size: 14px;
    }

    .search-cancel {
        right: 2px;
        width: 24px;
        height: 24px;
    }

    .search-button {
        padding: 6px 8px;
        border-radius: 8px;
        font-size: 14px;
    }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
    * {
        font-size: 16px;
    }

    .search-form {
        width: 90%;
        gap: 4px;
        padding: 4px;
        border-radius: 12px;
    }

    .search-bar {
        padding: 4px;
        padding-right: 30px;
        border-radius: 8px;
        font-size: 14px;
    }

    .search-cancel {
        right: 2px;
        width: 20px;
        height: 20px;
    }

    .search-button {
        padding: 4px 8px;
        border-radius: 8px;
        font-size: 14px;
    }
}