* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-size: 20px;
    color: #EEEEEE;
    text-decoration: none;
}

/* Default (Large screens, ≥ 1200px) */
.search-form {
    display: flex;
    align-items: center;
    gap: 0.36rem;
    width: 50%;
    height: fit-content;
    padding: 0.36rem;
    border-radius: 1rem;
    background-color: #EEEEEE;
    box-shadow: 0 0 4px 4px #EEEEEE40;
}

.search-space {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.search-bar {
    width: 100%;
    padding: 0.36rem;
    padding-right: 2rem;
    outline: none;
    border-radius: 0.6rem;
    border: 2px solid #FF6701;
    background-color: #EEEEEE;
    font-size: 0.8rem;
}

.search-cancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.36rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}

.search-cancel:hover {
    opacity: 1;
}

.search-button {
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #FF6701;
    color: white;
    font-size: 0.85rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #E05900;
}

/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
    * {
        font-size: 20px;
    }

    .search-form {
        width: 64%;
    }

    .search-cancel {
        width: 1.25rem;
        height: 1.25rem;
    }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
    * {
        font-size: 18px;
    }

    .search-form {
        width: 80%;
        gap: 0.25rem;
        padding: 0.25rem;
        border-radius: 0.75rem;
    }

    .search-bar {
        padding: 0.25rem;
        padding-right: 1.5rem;
        border-radius: 0.5rem;
    }

    .search-cancel {
        width: 1.25rem;
        height: 1.25rem;
    }

    .search-button {
        padding: 0.36rem 0.75rem;
        border-radius: 0.5rem;
    }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
    * {
        font-size: 16px;
    }

    .search-form {
        width: 90%;
        gap: 0.25rem;
        padding: 0.25rem;
        border-radius: 0.75rem;
    }

    .search-bar {
        padding: 0.25rem;
        padding-right: 1.5rem;
        border-radius: 0.5rem;
    }

    .search-cancel {
        width: 1rem;
        height: 1rem;
    }

    .search-button {
        padding: 0.36rem 0.75rem;
        border-radius: 0.5rem;
    }
}