/* all components start style here 
   start link at Views/Shared/_Layout.cshtml */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

/* Default (Large screens, ≥ 1200px) */
body {
  font-size: 20px;
  color: black;
}

/* Small Laptops & Tablets (≤ 1199px) */
@media (max-width: 1200px) {
  body {
      font-size: 18px;
  }
}

/* Tablets (≤ 769px) */
@media (max-width: 769px) {
  body {
      font-size: 16px;
  }
}

/* Mobile Phones (≤ 480px) */
@media (max-width: 480px) {
  body {
      font-size: 12px;
  }
}